body {
    background-color: royalblue;
}
h2 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bolder;
    font-size: medium;
    background-color:wheat;
    padding: 10px;
}