.container{
    display: inline-block;
    justify-content: space-evenly;
    align-content: space-between;
    padding: 10px;

}
h1{
    color: purple;
}
.images{
    padding-left: 3px;
    padding-top: 3px;
    width: 20vmin;
    height: 20vmin;
    background-position: center;
    position: relative;
}
.allcontainer{
    display: flex;
    flex-direction:column;
    flex-wrap: wrap;
}
