.loading_container{
    width: 90%;
    height: 60vh;
    margin-left: 30px;
    background-color: white;
    display: flex;
    align-content: center;
    justify-content: center;
}
.load_circle{
    height: 50px;
    width: 50px;
    margin: 20px;
    background-color: black;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    animation-name: wait;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
@keyframes wait{
    0%{
        transform: translate(250% , 100% );
        opacity: 0%;
    }
    25%{
        transform: translate(300% , 200% );
        opacity: 25%;
    }
    50%{
        transform: translate(250% , 300% );
        opacity: 50%;
    }   
    75%{
        transform: translate(150% ,200% );
        opacity: 75%;
    }
    100%{
        transform: translate( 250% , 100% );
        opacity: 100%;
    }
}