html {
    font-family: 'Grandstander', cursive;
}
body{
    background-color: burlywood;
}
div{
    font-size: 50px;
}
.p1{
    font-size: 50px;
    font-weight: 500;
    font-style: italic;
    font-stretch: extra-condensed;
    font-stretch: expanded;
}
.p2{
    font-size: 50px;
    font-weight: 1000;
    font-style: oblique;
    font-feature-settings: initial;
}
.p3{
    font-size: 50px;
    font-weight: 200;
    font-style: italic;
}
div{
    background-color: lightcoral;
}